<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body style="margin: 0 0 60px;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: bold; color: #a35f56;">Главная</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" style="font-weight: bold; color: #a35f56 !important; border: 2px solid #a35f56; padding: 5px 10px; border-radius: 5px; display: inline-block; margin-right: 10px;">Авторизация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register" style="font-weight: bold; color: #a35f56 !important; border: 2px solid #a35f56; padding: 5px 10px; border-radius: 5px; display: inline-block;">Регистрация</a>
                            </li>
                        }
                        else
                        {
                            @if (User.IsInRole("2"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="doctors" asp-action="Index"
                                       style="font-weight: bold; color: #a35f56 !important; border: 2px solid #a35f56; padding: 5px 10px; border-radius: 5px; display: inline-block; margin-right: 10px;">
                                        Врачи
                                    </a>
                                </li>
                                @* <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Receptions" asp-action="Create"
                                       style="font-weight: bold; color: #a35f56 !important; border: 2px solid #a35f56; padding: 5px 10px; border-radius: 5px; display: inline-block; margin-right: 10px;">
                                        Записаться
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Receptions" asp-action="MyRecords"
                                       style="font-weight: bold; color: #a35f56 !important; border: 2px solid #a35f56; padding: 5px 10px; border-radius: 5px; display: inline-block; margin-right: 10px;">
                                        Мои записи
                                    </a>
                                </li> *@
                            }
                            @if (User.IsInRole("1"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="receptions" asp-action="Index"
                                       style="font-weight: bold; color: #a35f56 !important; border: 2px solid #a35f56; padding: 5px 10px; border-radius: 5px; display: inline-block; margin-right: 10px;">
                                        Приёмы
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: bold; color: #a35f56 !important; border: 2px solid #a35f56; padding: 5px 10px; border-radius: 5px; display: inline-block; margin-right: 10px;">
                                        Выбор таблицы
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="diagnoses" asp-action="Index" style="font-weight: bold; color: #a35f56 !important;">Диагнозы</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="doctors" asp-action="Index" style="font-weight: bold; color: #a35f56 !important;">Врачи</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="patients" asp-action="Index" style="font-weight: bold; color: #a35f56 !important;">Пациенты</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="roles" asp-action="Index" style="font-weight: bold; color: #a35f56 !important;">Роли</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="sites" asp-action="Index" style="font-weight: bold; color: #a35f56 !important;">Участки</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="specializations" asp-action="Index" style="font-weight: bold; color: #a35f56 !important;">Специализации</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="status" asp-action="Index" style="font-weight: bold; color: #a35f56 !important;">Статусы</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li class="nav-item d-flex align-items-center">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-link nav-link text-dark" style="padding: 5px 10px; font-weight: bold; border: 2px solid #a35f56; border-radius: 5px; background-color: #a35f56; color: white !important; margin-right: 10px; display: inline-block;">Выход</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style="position: absolute; bottom: 0; width: 100%; height: 60px; line-height: 60px;">
        <div class="container">
            &copy; 2025 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
