@model clinica2.Models.specializations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>specializations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.specialization_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specialization_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_specialization">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
