@model IEnumerable<clinica2.Models.specializations>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #a35f56;">Специализации</h1>

<table class="table">
    <thead>
        <tr>
            <th style="color: #a35f56;">Название специализации</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.specialization_name)
            </td>
        </tr>
}
    </tbody>
</table>
