@model IEnumerable<clinica2.Models.diagnosis>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #a35f56;">Диагнозы</h1>

<table class="table">
    <thead>
        <tr>
            <th style="color: #a35f56;">Название диагноза</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.diagnosis_name)</td>
        </tr>
}
    </tbody>
</table>
